.card {
  width: 25%;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    z-index: 0;
    border-radius: 10px;
  }

  .card-title {
    position: relative;
    z-index: 1;
  }

  @media (max-width: 1024px) {
    width: 45%;
  }

  @media (max-width: 768px) {
    width: 100%;
  }
}